<div id="<%= dom_id trip %>">
  <p>
    <strong>Name:</strong>
    <%= trip.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= trip.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= trip.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= trip.end_date %>
  </p>

  <p>
    <strong>Image name:</strong>
    <%= trip.image_name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= trip.slug %>
  </p>

  <p>
    <strong>Tag line:</strong>
    <%= trip.tag_line %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= trip.price %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= trip.location %>
  </p>

  <p>
    <strong>Activity:</strong>
    <%= trip.activity %>
  </p>

</div>
