<div id="<%= dom_id trip_feature %>">
  <p>
    <strong>Trip:</strong>
    <%= trip_feature.trip_id %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= trip_feature.kind %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= trip_feature.slug %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= trip_feature.description %>
  </p>

</div>
