<div id="<%= dom_id purchase %>">
  <p>
    <strong>User:</strong>
    <%= purchase.user_id %>
  </p>

  <p>
    <strong>Trip:</strong>
    <%= purchase.trip_id %>
  </p>

  <p>
    <strong>Pay type:</strong>
    <%= purchase.pay_type %>
  </p>

  <p>
    <strong>Purchase date:</strong>
    <%= purchase.purchase_date %>
  </p>

  <p>
    <strong>Real travel date:</strong>
    <%= purchase.real_travel_date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= purchase.amount %>
  </p>

</div>
