<div id="<%= dom_id user_preference %>">
  <p>
    <strong>User:</strong>
    <%= user_preference.user_id %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= user_preference.kind %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user_preference.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= user_preference.description %>
  </p>

</div>
